<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/register.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   </head>
<body>

    <header class="header">
        <div class="header-content">
            <!-- Replace buttons with the navigation list -->
            <div class="navbar-identity">
                <a href="/" class="navbar-brand logo logo-title">
                    <img class="userImg" src="/images/logo.png" alt="LOGO" style="width:300px; height:61px; border:0px"> </a>

                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggler pull-right" type="button">
                    
                </button>
            </div>
            <nav class="navbar">
                <ul class="nav">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Trending</a></li>
                    <li class="nav-item"><a href="/register" class="nav-link">Register</a></li>
                    <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
                    <li class="nav-item"><a class="btn btn-block btn-border btn-post btn-success" href="/listing">Post a Listing</a></li>
                </ul>
            </nav>
        </div>
    </header>

    
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="images/frontImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Every new friend is a <br> new adventure</span>
          <span class="text-2">Let's get connected</span>
        </div>
      </div>
      <div class="back">
        <img class="backImg" src="images/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
          <div class="signup-form">
              <div class="title">Create Your Account</div>
              <form action="/user/register" method="post">
                  <input type="hidden" name="_token" value="5viRcQeY33fcUQlFbh4m8FnUe5awDg8DnGwlIjIX">
  
                  <div class="input-boxes">
                      <!-- Name Field -->
                      <div class="input-box">
                          <i class="fas fa-user"></i>
                          <input id="name" type="text" placeholder="Enter your name" name="name" required autocomplete="name" autofocus>
                      </div>
  
                      <!-- Email Field -->
                      <div class="input-box">
                          <i class="fas fa-envelope"></i>
                          <input id="email" type="email" placeholder="Enter your email" name="email" required autocomplete="email">
                      </div>
  
                      <!-- Phone Number Field -->
                      <div class="input-box">
                          <i class="fas fa-phone"></i>
                          <input id="phone" type="text" placeholder="Enter your phone number" name="phone" required>
                      </div>
  
                      <!-- Username Field -->
                      <div class="input-box">
                          <i class="fas fa-user-circle"></i>
                          <input id="username" type="text" placeholder="Choose a username" name="username" required autocomplete="username">
                      </div>
  
                      <!-- Password Field -->
                      <div class="input-box">
                          <i class="fas fa-lock"></i>
                          <input id="password" type="password" placeholder="Enter your password" name="password" required autocomplete="new-password">
                      </div>
  
                      <!-- Confirm Password Field -->
                      <div class="input-box">
                          <i class="fas fa-lock"></i>
                          <input id="password-confirm" type="password" placeholder="Confirm your password" name="password_confirmation" required>
                      </div>
  
                      <!-- Terms and Conditions -->
                      <div class="text">
                          <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                              <input type="checkbox" class="custom-control-input">
                              <span class="custom-control-description">By clicking on register, you agree to the <a href="#" target="_blank">Terms & Conditions</a></span>
                          </label>
                      </div>
  
                      <!-- Submit Button -->
                      <div class="button input-box">
                          <input type="submit" value="Register">
                      </div>
                  </div>

                  <% if (typeof error !== 'undefined' && error) { %>
                    <p class="error-message"><%= error %></p>
                <% } %>
                
                <!-- Registration Form -->
                
              </form>
          </div>
      </div>
  </div>
  
  
</div>
</body>

</html>
